<h1>Nouveau message de {{ contact.fullname }}</h1>

<p>Adresse mail : {{ contact.email }}</p>
<p>Document(s) joint : {{ nbFiles }}</p>
<p>Nom du projet : {{ contact.projectName }}</p>
<p>Description du projet : {{ contact.projectDescription }}</p>