{% extends 'Portfolio/base.html.twig' %}

{% block title %}Mehdi Birembaut{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/v2/js/custom.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div id="top_section" class="banner_main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bluid">
                        <h1>Développeur Web Indépendant</h1>
                        <h2>Mehdi Birembaut</h2>
                        <p style="padding-bottom: 10px;">Je suis un développeur web indépendant passionné par les nouvelles technologies.</p>
                        <p><a class="text-white" href="#contact">Contactez-moi</a> pour vous aider à réaliser votre projet.</p>
                        <a class="read_more" href="#contact">Contactez-moi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="we_do" class="we_do">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="we1" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#we1" data-slide-to="0" class="active"></li>
                            <li data-target="#we1" data-slide-to="1" class=""></li>
                            <li data-target="#we1" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner" style="height: 31.5rem;">
                            <div class="carousel-item d-none d-sm-block active">
                                <div class="container-fluid">
                                    <div class="carousel-caption we1_do">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div id="bo_ho" class="we_box text_align_left">
                                                    <i><img src="{{ asset('assets/v2/images/we1.png') }}" alt="developpement web"></i>
                                                    <h3>Développement <br>web</h3>
                                                    <p>Je suis passionné par la création de sites web innovant. Je conçois et développe votre idée en site web moderne et responsive.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div id="bo_ho" class="we_box text_align_left">
                                                    <i><img src="{{ asset('assets/v2/images/we3.png') }}" alt="design web"></i>
                                                    <h3>Web <br>design</h3>
                                                    <p>En plus du développement, je suis passionné par la conception de sites web élégants et réactifs qui offrent une expérience utilisateur exceptionnelle.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div id="bo_ho" class="we_box text_align_left">
                                                    <i><img src="{{ asset('assets/v2/images/we4.png') }}" style="width: 4rem;" alt="base de données"></i>
                                                    <h3>Base de données <br>back-end</h3>
                                                    <p>Je travaille sur la gestion des bases de données et la création de backend robustes pour garantir la fiabilité de mes applications web.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item d-sm-none">
                                <div class="container-fluid">
                                    <div class="carousel-caption we1_do">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div id="bo_ho" class="we_box text_align_left">
                                                    <i><img src="{{ asset('assets/v2/images/we1.png') }}" alt="developpement web"></i>
                                                    <h3>Développement <br>web</h3>
                                                    <p>Je suis passionné par la création de sites web innovant. Je conçois et développe votre idée en site web moderne et responsive.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item d-sm-none">
                                <div class="container-fluid">
                                    <div class="carousel-caption we1_do">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div id="bo_ho" class="we_box text_align_left">
                                                    <i><img src="{{ asset('assets/v2/images/we3.png') }}" alt="design web"></i>
                                                    <h3>Web <br>design</h3>
                                                    <p>En plus du développement, je suis passionné par la conception de sites web élégants et réactifs qui offrent une expérience utilisateur exceptionnelle.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item d-sm-none">
                                <div class="container-fluid">
                                    <div class="carousel-caption we1_do">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div id="bo_ho" class="we_box text_align_left">
                                                    <i><img src="{{ asset('assets/v2/images/we4.png') }}" style="width: 4rem;" alt="base de données"></i>
                                                    <h3>Base de données <br>back-end</h3>
                                                    <p>Je travaille sur la gestion des bases de données et la création de backend robustes pour garantir la fiabilité de mes applications web.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="d-sm-none carousel-control-prev" href="#we1" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="d-sm-none carousel-control-next" href="#we1" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_left">
                        <h2>Mes projets</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for work in works %}
                    <div class="col-md-6">
                        <div id="ho_nf" class="portfolio_main text_align_left">
                            <figure>
                                <img src="{{ asset('assets/uploads/works/' ~ work.imageName) }}" alt="{{ work.altImage }}">
                                <div class="portfolio_text">
                                    <div class="li_icon">
                                        <a href="{{ work.workLink }}" target="_blank"><i style="font-size: 20px;" class="fa fa-search" aria-hidden="true"></i></a>
                                        <a href="{{ work.githubLink }}" target="_blank"><i style="font-size: 30px;" class="fa fa-github" aria-hidden="true"></i></a>
                                    </div>
                                    <h3>{{ work.title }}</h3>
                                    <p>{{ work.description | raw }}</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <div class="titlepage text_align_left">
                        <h2>Restons en contact</h2>
                    </div>
                    <div class="col-12">
                        <i class="fa fa-hand-o-right text-danger" style="font-size: 20px;" aria-hidden="true"></i>&nbsp;
                        <a href="mailto:mehdi2707@live.fr?subject=Contact depuis mehdi-birembaut.fr - " style="font-size: 25px;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;M'envoyer un mail</a>
                    </div>
                    <div class="col-12">
                        <i class="fa fa-hand-o-right text-danger" style="font-size: 20px;" aria-hidden="true"></i>&nbsp;
                        <a href="https://www.linkedin.com/in/mehdi-birembaut/" target="_blank" style="font-size: 25px;"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;Profil LinkedIn</a>
                    </div>
                    <div class="col-12">
                        <i class="fa fa-hand-o-right text-danger" style="font-size: 20px;" aria-hidden="true"></i>&nbsp;
                        <a href="https://www.malt.fr/profile/mehdibirembaut" target="_blank" style="font-size: 25px;"><img style="width: 4rem;" src="{{ asset('assets/v2/images/malt.jpg') }}" alt="profil malt"></i>&nbsp;Profil Malt</a>
                    </div>
                    <div class="col-12">
                        <i class="fa fa-hand-o-right text-danger" style="font-size: 20px;" aria-hidden="true"></i>&nbsp;
                        <a href="https://comeup.com/en/service/347552/creer-votre-site-web-responsive-avec-symfony" target="_blank" style="font-size: 25px;"><img style="width: 2rem;" src="{{ asset('assets/v2/images/comeup.png') }}" alt="service comeup"></i>&nbsp;Service ComeUp</a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div class="titlepage text_align_left" style="padding-bottom: 0;">
                        <h2>Évaluation des clients</h2>
                    </div>
                    <div id="clientsl" class="carousel slide our_clientsl" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#clientsl" data-slide-to="0" class=""></li>
                            <li data-target="#clientsl" data-slide-to="1" class=""></li>
                            <li data-target="#clientsl" data-slide-to="2" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption posi_in">
                                        <div class="clientsl_text">
                                            <i><img src="{{ asset('assets/v2/images/pg.png') }}" alt="client satisfait malt"></i>
                                            <h3>Pierrick <img src="{{ asset('assets/v2/images/icon.png') }}" alt="client note"></h3>
                                            <p>Mission effectué via Malt pour Buildrz.<br>Note : <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev d-none" href="#clientsl" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next d-none" href="#clientsl" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="titlepage text_align_left">
                        <h2>Un projet en tête ?</h2>
                    </div>
                    <div class="mb-3">
                        <p>Décrivez ci-dessous ce que vous souhaitez réaliser et recevez une réponse rapidement</p>
                    </div>
                    <div class="main_form mb-5">
                        {{ form_start(form) }}
                            {{ form_row(form.fullname) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.projectName) }}
                            {{ form_row(form.projectDescription) }}
                            {{ form_row(form.files) }}
                            <button type="submit" class="send_btn" id="submitContact">
                                <img src="{{ asset('assets/v2/images/tail-spin.svg') }}" alt="load" class="loading-icon" style="display: none;">
                                <span id="buttonContent">Envoyer</span>
                            </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
