<div class="row mb-5">
    <div class="col-sm m-auto text-center">
        <h3 class="titre">Bonjour et bienvenue sur mon site web !</h3>
    </div>
</div>

<div class="row mb-5">
    <div class="col-lg-6 d-none d-lg-block m-auto text-center">
        <img id="profile-image" style="border-radius: 15%;" src="{{ photo_de_profil }}" width="200" alt="photo de profil"/>
    </div>
    <div class="col-lg-6">
        <p>
            Moi c'est Mehdi, je suis un développeur freelance talentueux et passionné, spécialisé dans le développement web et mobile.
            Mes compétences couvrent une grande variété de technologies telles que PHP, Symfony, HTML, CSS, jQuery, JavaScript, Git, Linux et MySQL, et je suis capable de développer des fonctionnalités, d'intégrer des API, et de réaliser tous types de projets de développement.
        </p>
        <p>
            Je suis fier de mon expertise et de ma passion pour le développement, qui me permettent de livrer des applications fiables et performantes à mes clients.
            Mon objectif est de vous aider à réaliser toutes vos idées et à les transformer en applications fiables et performantes.
        </p>
        <p>
            N'hésitez pas à <a class="btn_contact" href="#" data-url="{{ path('app_portfolio_contact') }}">me contacter</a> pour discuter de vos projets et de la façon dont je peux vous aider à les concrétiser.
            Je suis impatient de vous aider à atteindre vos objectifs !
        </p>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_symfony }}" alt="article symfony">
        <div class="card-body">
            <h5 class="card-title">Framework Symfony</h5>
            <p class="card-text" style="color: black;">Symfony est un ensemble de composants PHP, un framework d'application Web, une philosophie et une communauté - tous travaillant ensemble en harmonie.</p>
            <a href="https://symfony.com/what-is-symfony" class="btn btn-primary">Voir</a>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_chatgpt }}" alt="article chatgpt">
        <div class="card-body">
            <h5 class="card-title">ChatGPT</h5>
            <p class="card-text" style="color: black;">ChatGPT est un prototype d'agent conversationnel utilisant l'intelligence artificielle, développé par OpenAI et spécialisé dans le dialogue.</p>
            <a href="https://openai.com/blog/chatgpt/" class="btn btn-primary">Voir</a>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_blog }}" alt="mon blog">
        <div class="card-body">
            <h5 class="card-title">Blog avec back office</h5>
            <p class="card-text" style="color: black;">Blog crée avec Symfony, avec gestion des articles, du blog et des utilisateurs dans le back office et sytème de connexion.</p>
            <a target="_blank" href="https://phpstack-954033-3324375.cloudwaysapps.com/" class="btn btn-primary">Voir</a>
        </div>
    </div>
</div>