<div class="row justify-content-between">
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_symfony }}" alt="article symfony">
        <div class="card-body">
            <h5 class="card-title">Framework Symfony</h5>
            <p class="card-text" style="color: black;">Symfony est un ensemble de composants PHP, un framework d'application Web, une philosophie et une communauté - tous travaillant ensemble en harmonie.</p>
            <a target="_blank" href="https://symfony.com/what-is-symfony" class="btn btn-secondary stretched-link">Voir</a>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_ecommerce }}" alt="mon site e-commerce">
        <div class="card-body">
            <h5 class="card-title">Site e-commerce</h5>
            <p class="card-text" style="color: black;">Site e-commerce crée avec Symfony, gestion du site avec un système d'administration site e-commerce prêt à l'emploi manque seulement le système de paiement.</p>
            <a target="_blank" href="{{ lien_ecommerce }}" class="btn btn-secondary stretched-link">Voir</a>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 card mb-3">
        <img class="card-img-top" src="{{ image_blog }}" alt="mon blog">
        <div class="card-body">
            <h5 class="card-title">Blog avec back office</h5>
            <p class="card-text" style="color: black;">Blog crée avec Symfony, avec gestion des articles, du blog et des utilisateurs dans le back office et sytème de connexion.</p>
            <a target="_blank" href="{{ lien_blog }}" class="btn btn-secondary stretched-link">Voir</a>
        </div>
    </div>
</div>