<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4KJQGETBKF"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
    <!-- TEST!!! -->
            gtag('config', 'G-4KJQGETBKF');
        </script>
        <title>Portfolio - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
            {{ encore_entry_link_tags('bootstrapcss') }}
            {{ encore_entry_link_tags('css/fontawesome') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('jquery') }}
            {{ encore_entry_script_tags('bootstrapjs') }}
        {% endblock %}
    </head>
        {% block body %}<body></body>{% endblock %}
</html>
