<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4KJQGETBKF"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
 
            gtag('config', 'G-4KJQGETBKF');
        </script>
        <title>Mehdi Birembaut - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link rel="stylesheet" href="{{ asset('assets/v2/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/v2/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/v2/css/responsive.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="{{ asset('assets/v2/js/jquery.min.js') }}" defer></script>
        <script src="{{ asset('assets/v2/js/bootstrap.bundle.min.js') }}" defer></script>
        <script src="{{ asset('assets/v2/js/jquery-3.0.0.min.js') }}" defer></script>
        <script src="{{ asset('assets/v2/js/custom.js') }}" defer></script>
    </head>
        <body>
            {% include "Portfolio/_partials/_header.html.twig" %}

            {% block body %}{% endblock %}

            {% include "Portfolio/_partials/_footer.html.twig" %}
        </body>
</html>
