{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<body id="portfolio">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light fixed-top header" style="background-color:rgba(255, 255, 255, 0.2);">
            <button style="border-color: #df2c2c;" class="navbar-toggler m-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 32 32\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgb(223,44,44)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 8h24M4 16h24M4 24h24\'/%3E%3C/svg%3E');"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100">
                    <li class="nav-item btn-media m-auto">
                        <button type="button" id="btn_accueil" class="btn btn-outline-danger mx-auto" data-url="{{ path('app_portfolio_accueil') }}">Introduction</button>
                    </li>
                    <li class="nav-item btn-media m-auto">
                        <button type="button" id="btn_experiences" class="btn btn-outline-danger mx-auto" data-url="{{ path('app_portfolio_experiences') }}">Mes expériences</button>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="navbar-brand m-auto" href="{{ path('app_portfolio') }}">
                            <img style="border-radius: 15%;" src="{{ logo }}" width="150" height="150" class="d-inline-block align-top" alt="logo">
                        </a>
                    </li>
                    <li class="nav-item btn-media m-auto">
                        <button type="button" id="btn_formations" class="btn btn-outline-danger mx-auto" data-url="{{ path('app_portfolio_formations') }}">Mes formations</button>
                    </li>
                    <li class="nav-item btn-media m-auto">
                        <button type="button" id="btn_contact" class="btn btn-outline-danger mx-auto" data-url="{{ path('app_portfolio_contact') }}">Contact</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container contenu mb-5" style="margin-top: 10rem; padding-top: 50px; height: 60rem;">
        {% include 'portfolio/accueil.html.twig' %}
    </div>

    <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
            <!-- Left -->
            <div class="me-5">
                <span>Gardons le contact via les réseaux sociaux : </span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a target="_blank" href="https://www.linkedin.com/in/mehdi-birembaut-734208195/" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/Mehdi2707?tab=repositories" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Entreprise</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                        <p>
                            Mehdi BIREMBAUT, développeur Symfony en freelance : création de site web
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Produits</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                        <p>
                            <a target="_blank" href="https://phpstack-954033-3324375.cloudwaysapps.com/" class="text-white">Blog</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                        <p>
                            <i class="fas fa-home mr-3"></i>
                            <a style="text-decoration: none;" target="_blank" href="https://goo.gl/maps/584a6H3GaqzPpT6Y8">
                                &nbsp;34 Rue Henri Dunant, 59100, France
                            </a>
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i>
                            <a style="text-decoration: none;" href="mailto:mehdi2707@live.fr?subject=Contact via 'Portfolio'">
                                &nbsp;mehdi2707@live.fr
                            </a>
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i>
                            <a style="text-decoration: none;" href="tel:+33614542896">
                                &nbsp;(+33)6 14 54 28 96
                            </a>
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            ©
            <a class="text-white" href="#">Mehdi.B.</a>
            2023 Tous droits réservés
        </div>
        <!-- Copyright -->
    </footer>
</body>
{% endblock %}
