{% extends 'Portfolio/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/v2/js/admin.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="container admin-container" style="padding-top: 180px;">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Administration</h2>
                </div>
            </div>
        </div>
        <div class="row portfolio" style="padding: 0;">
            <div class="col-md-12">
                <div class="titlepage text_align_left">
                    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <h2>
                            Mes travaux
                            <i class="fa fa-hand-o-down text-info" style="font-size: 30px;" aria-hidden="true"></i>
                        </h2>
                    </button>
                </div>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="mt-5">
                        <div class="row">
                            {% for work in works %}
                                <div class="col-md-6">
                                    <div id="ho_nf" class="portfolio_main text_align_left">
                                        <figure>
                                            <img src="{{ asset('assets/uploads/works/' ~ work.imageName) }}" alt="{{ work.altImage }}">
                                            <div class="portfolio_text">
                                                <div class="li_icon">
                                                    <a href="{{ work.workLink }}" target="_blank"><i style="font-size: 20px;" class="fa fa-search" aria-hidden="true"></i></a>
                                                    <a href="{{ work.githubLink }}" target="_blank"><i style="font-size: 30px;" class="fa fa-github" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="li_icon" style="float: right; position: relative;">
                                                    <a href="{{ path('app_admin_edit_work', {id: work.id}) }}"><i style="font-size: 20px;" class="fa fa-edit" aria-hidden="true"></i></a>
                                                    <a href="{{ path('work_delete', {id: work.id}) }}" data-work-delete data-token="{{ csrf_token('delete' ~ work.id) }}"><i style="font-size: 20px;" class="fa fa-trash" aria-hidden="true"></i></a>
                                                </div>
                                                <h3>{{ work.title }}</h3>
                                                <p>{{ work.description | raw }}</p>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-6 m-auto text-center">
                                <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#navbarToggleForm" aria-controls="navbarToggleForm" aria-expanded="false" aria-label="Toggle navigation">
                                    Ajouter un projet
                                </button>
                            </div>
                            <div class="col-12 collapse" id="navbarToggleForm">
                                {{ form_start(form) }}
                                    {{ form_row(form.title) }}
                                    {{ form_row(form.description) }}
                                    {{ form_row(form.workLink) }}
                                    {{ form_row(form.githubLink) }}
                                    {{ form_row(form.imageName) }}
                                    {{ form_row(form.altImage) }}
                                    <button class="btn btn-success" type="submit">Confirmer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row portfolio" style="padding: 0;">
            <div class="col-md-12">
                <div class="titlepage text_align_left">
                    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarToggleContactContent" aria-controls="navbarToggleContactContent" aria-expanded="false" aria-label="Toggle navigation">
                        <h2>
                            Contact
                            <i class="fa fa-hand-o-down text-info" style="font-size: 30px;" aria-hidden="true"></i>
                        </h2>
                    </button>
                </div>
                <div class="collapse show" id="navbarToggleContactContent">
                    <div class="mt-5">
                        <div class="row">
                            {% for contact in contacts %}
                                <div class="col-md-12 mb-5">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            {{ contact.fullname }} - <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ contact.projectName }}</h5>
                                            <p class="card-text">{{ contact.projectDescription }}</p>
                                            <p class="card-text">
                                                Fichier(s) joint : {{ contact.files|length }}<br>
                                                {% for file in contact.files %}
                                                    <a href="{{ path('contact_download_file', {fileName: file.name}) }}">{{ file.name }}</a><br>
                                                {% endfor %}
                                            </p>
                                        </div>
{#                                        <div class="card-footer text-muted">#}
{#                                            2 days ago#}
{#                                        </div>#}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
